.icon {
  margin-right: 12px;
  width: 20px;
  height: 20px;
}
.section {
  margin-bottom: 50px;
}
.block:last-child {
  margin-bottom: 50px;
}

.title {
  margin-bottom: 11px;
}
.label {
  display: flex;
  align-items: center;
}