@import '../../../scss/common.scss';

.btn {
  width: 100px;
  border-radius: 80px;
  padding: 4px 0;
  border: none;
  @extend %primary-font;
  background-color: $main-btn-color;
}
.btn:hover {
  background-color: $hover-btn-color;
}
.btn:disabled {
  background-color: $disabled-btn-color;
  color: rgba(255, 255, 255, 0.87);
}
.btn:not(:last-child) {
  margin-right: 10px;
}
